.user-feedback-modal {
  .swal2-html-container {
    margin: 0;
    text-align: left;
  }

  .swal2-popup {
    border-radius: 18px;
    max-width: 343px;
  }

  .swal2-close {
    --close-button-size: 16px;
    --close-button-margin: 21px;

    width: var(--close-button-size);
    height: var(--close-button-size);

    margin-top: var(--close-button-margin);
    margin-right: var(--close-button-margin);
  }

  @media (min-width: 600px) {
    .swal2-popup {
      border-radius: 24px;
      max-width: 496px;
    }

    .swal2-close {
      --close-button-size: 18px;
      --close-button-margin: 28px;
    }
  }
}
